
.col-md-2 {
	background-color: slategrey;
	height: 400px;
}

.col-md-8 {
background-color: lightblue;
height: 400px;
}

.col-md-12 {
/*background-color: lightgreen;*/
height: 100px;
border-bottom: 1px solid blue;
}


